@charset "UTF-8";

div.wrap{
	
}

div.row{
}

div.row{
	margin-left : 20px;
}

div.key{
	padding : 10px;
	display:inline-block;
	border : 1px solid #000;
	margin : 2px;
}

div.backspace{
	
}

div.enter{
	
}

div.shift{
	
}

div.on{
	background: #000;
	color: #fff;
}

div#space{
	width:40%;
}

div.num{
	min-width:30px;
	text-align:center;
}